//sprite sheet includes

@import "../img/simpsons/*.png";

@include all-simpsons-sprites;

//clearfix extend

%clearfix {
  @include pie-clearfix;
}

//fr language prefix

$fr: 'html[lang="fr"]';

//variables

$butt: red;
$var: money;


body {
    background-color: blue;

    #{$fr} & {
        background-color: red;
    }
}

a[target=_blank] {
background-color:yellow;
}

.simple { @include border-radius(4px, 4px); }

.butt {
    @extend %clearfix;
}

.test {
    @extend %clearfix;
    color: purple;
}

.hello {
    text-align: center;
    border: solid 1px #fff;
}

p {
    @extend .fa;
}

.mason {
    color: $butt;
}

.#{$butt}-world {
    text-align: center;
}

.block {
    color: $butt;

    #{$fr} & {
        color: black;
    }
}


